<html>
    <body>
        <form action="/users" method = "POST">  
         <div>ID:<input type ="text" name="id"/></div> 
         <div>First: <input type="text" name="first"/></div>
        <div>Last: <input type ="text" name="last"/></div> 
        <div><input type = "Submit" name ="insert"/></div>
       
    </form>
    </body>
</html> 