<html>
    <body>
        <form action="/users" method = "POST">
         <div>ID:<input type ="text" name="id" value="<%=user.id%>"/></div> 
         <div>First: <input type="text" name="first"value="<%=user.fname%>"
            /></div>
        <div>Last: <input type ="text" name="last"value="<%=user.lname%>"
            /></div> 
        <div><input type = "Submit" name ="update"/></div>
       
    </form>
    </body>
</html> 