 <html>
    <body>
         <div>ID:<%=user.id%></div> 
         <div>First:<%=user.fname%></div>
        <div>Last:<%=user.lname%></div> 
        <div><a href="/users/">Back</a></div>
    </body>
</html> 