<html>
<body>
     <div>ID:<%=employee.id%></div> 
     <div>First:<%=employee.fname%></div>
    <div>Last:<%=employee.lname%></div> 
    <div>Department:<%=employee.department%></div>
   
</body>
</html>