<html>
<body>
    <form action="/employees" method = "POST">
     <div>ID:<input type = "text" name="id"/></div> 
     <div>First:<input type = "text" name="fname"/></div>
    <div>Last:<input type = "text" name="lname"/></div> 
    <div>Department:<input type = "text" name="department"/></div>
    <div><input type = "Submit" name ="insert"/></div>
</form>
</body>
</html>