<html>
    <body>
        <form action="/employees" method = "POST">
         <div>ID:<input type ="text" name="id" value="<%=employee.id%>"/></div> 
         <div>First: <input type="text" name="first"value="<%=employee.fname%>"
            /></div>
        <div>Last: <input type ="text" name="last"value="<%=employee.lname%>"
            /></div> 
        <div>department: <input type ="text" name="department"value="<%=employee.department%>"
                /></div>   
        <div><input type = "Submit" name ="update"/></div>
       
    </form>
    </body>
</html> 